<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The description of my page" />
    <title>@ViewBag.Title - Gobotter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900,900italic,300italic,400italic,700italic' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/Menu.min.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <iframe id="matchResult">
        
    </iframe>
    <div id="matchResult_popUp">

    </div>

    <div id="navBig">
        <a id="compte" href="@Url.Action("Index", "Account")">
            <div id="img"><img src="@(Session["User_img"])" /></div>
        </a>
        <a id="matchs" href="@Url.Action("Index", "Watch")">
            <div style="background-image: url(@Url.Content("~/Images/matches.png"))"></div>
        </a>
        <a id="parier" href="@Url.Action("Index", "Bet")">
            <div style="background-image: url(@Url.Content("~/Images/bet.png"))"></div>
        </a>
        <a id="horaire" href="@Url.Action("Schedule", "Stats")">
            <div style="background-image: url(@Url.Content("~/Images/calendar.png"))"></div>
        </a>
        <a id="équipes" href="@Url.Action("Teams", "Stats")">
            <div style="background-image: url(@Url.Content("~/Images/teams.png"))"></div>
        </a>
        @*<a id="inventaire" href="#">
            <div style="background-image: url(@Url.Content("~/Images/inventory.png"))"></div>
        </a>*@
        @*<a id="magasin" href="@Url.Action("Index", "Shop")">
            <div style="background-image: url(@Url.Content("~/Images/shop.png"))"></div>
        </a>*@

        <a id="FAQ" class="small" href="@(Url.Action("faq", "Support"))">
            <div style="background-image: url(@Url.Content("~/Images/faq.png"))"></div>
        </a>
        <a id="contact" class="small" href="#">
            <div style="background-image: url(@Url.Content("~/Images/contact.png"))"></div>
        </a>
        <a id="déconnection" class="small" href="@Url.Action("Logout", "Account")">
            <div style="background-image: url(@Url.Content("~/Images/logout.png"))"></div>
        </a>
    </div>
    @RenderBody()

<script>
    var waterDropInterval;
    var mobileWidth = 959;

    function getMatchResults() {
        var data = new XMLHttpRequest();
        data.open("GET", '@Url.Action("getMatchResults", "Bet")');

        data.onreadystatechange = function () {
            if (data.readyState == 4) {
                createMatchResult_PopUp(data);
            }
        }
        data.send();
    }

    function createMatchResult_PopUp(json) {
        var text = "";
        popUp("", false, text);
    }

    $(document).ready(function () {
        setCurrentTab();
        setInterval(function () {
            //if (cookie doesnt exist)
                getMatchResults();
        }, 20000);
        getMatchResults();
    });

    $(window).on('resize', function () {

    });

    // Get cursor position on each mousemove.
    var cursor = { x: -1, y: -1 };
    $(document).mousemove(function (event) {
        cursor.x = event.pageX;
        cursor.y = event.pageY;
    });

    $(document).on("mouseenter", "#navBig > a > div", function (e) {
        // If tab is not active page
        if (!$(this).parent().hasClass("active") && !$(this).parent().hasClass("active_anim")) {
            var parent = $(this).parent();

            waterDrop(parent, e); // Add waterdrop effect
            waterDropInterval = setInterval(function () {
                waterDrop(parent, e);
            }, 1000); // Set interval for waterdrop effect

            showNavText($(this)); // Show descriptive text
            var color = $(this).parent().css("background-color");
            var colors = (color.substring(color.indexOf("(") + 1, color.indexOf(")"))).replace(" ", "").split(",");
            for (var i = 0; i < colors.length; i++)
                colors[i] = Math.round(colors[i] * 0.85); // Get background-color (bg *0.85)

            color = "rgb(" + colors.join() + ")";

            $(this).parent().css({ backgroundColor: color }); // Change background-color
        }
    }).on("mouseleave", "#navBig > a > div", function (e) {
        if (!$(this).parent().hasClass("active") && !$(this).parent().hasClass("active_anim")) {
            clearInterval(waterDropInterval); // Remove waterdrop
            hideNavText($(this)); // Remove text

            $(this).parent().css({ backgroundColor: "#f16651" });
        }
    });

    // Active page
    $("#navBig > a > div").click(function () {
        setClickedTab($(this), true);
    });
    function setCurrentTab() {
        var url = window.location.pathname;
        $("#navBig > a").each(function () {
            if ($(this).attr("href") == url) {
                setClickedTab($(this).find("div"), false);
                return;
            }
        });
    }
    function setClickedTab(e, animate) {
        if (e != null) {
            clearInterval(waterDropInterval); // Remove waterdrop
            $("#navBig").stop(); // Stop animations of nav
            $("#navBig").find(".active").removeClass("active");
            $("#navBig").find(".active_anim").removeClass("active_anim");
            e.parent().parent().find("a").css({ backgroundColor: "#f16651" });
            e.parent().css({ backgroundColor: "#e3604c" });
            e.parent().addClass(animate ? "active_anim" : "active");
            hideNavText(e); // Hide text
        }
    }

    function showNavText(elem) {
        if ($(window).width() > mobileWidth) {
            var id = elem.parent().attr("id").substring(0, 1).toUpperCase() + elem.parent().attr("id").substring(1).toLowerCase();
            elem.parent().parent().append("<div id=\"text\"><span>" + id + "</span><div></div></div>");

            var scrollTop = $(window).scrollTop(), elementOffset = elem.offset().top, topPos = (elementOffset - scrollTop);
            topPos += (elem.height() / 2 - $("#text").height() / 2);
            var leftPos = -($("#text").width() + 40);
            $("#text").css({
                top: topPos,
                left: leftPos
            });
        }
    }
    function hideNavText(elem) {
        if ($(window).width() > mobileWidth)
            $("#navBig > #text").remove();
    }

    function waterDrop(parent, e) {
        if (parent.find(".ink").length == 0)
            parent.prepend("<span class='ink'></span>");

        var ink = parent.find(".ink");
        ink.removeClass("animate");

        var d;
        if (!ink.height() && !ink.width()) {
            d = Math.max(parent.outerWidth(), parent.outerHeight());
            ink.css({ height: d, width: d });
        }

        var x = cursor.x - parent.offset().left - ink.width() / 2;
        var y = cursor.y - parent.offset().top - ink.height() / 2;

        ink.css({ top: y + 'px', left: x + 'px' }).addClass("animate");
    }
</script>

@RenderSection("scripts", required: false)
@Scripts.Render("~/Scripts/global.js")
</body>
</html>