@model Gobot.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Gobotter</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,900italic,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    @Styles.Render("~/Content/Account.css")
</head>
<body>
    <div id="accountInfo">
        <div>
            <img id="img" src="~/Images/anonymous.png" />
            <div id="border"></div>
        </div>
        <span id="name">@Html.DisplayFor(model => model.Username)</span>
        <button id="test">test</button>
    </div>

    <div class="info">
        <div id="rank">
            <h2>RANK</h2>
            <img src="~/Images/rank.png" />
            <h2><grey>@Html.DisplayFor(model => model.Level)</grey></h2>
        </div>
        <div id="rep">
            <h2>REPUTATION</h2>
            <div id="rep-bar"></div>
            <h3><green>@Html.DisplayFor(model => model.EXP)</green>/1500 <grey>REP</grey></h3>
        </div>
    </div>

    <div class="info" id="credits">
        <img src="~/Images/gbCredit.png" />
        <h1>
            @Html.DisplayFor(model => model.Credits) <grey>GOBOT CREDITS</grey>
        </h1>
        <h4>1 Gobot credit = 0.01$</h4>
        <button id="buy"><h6>BUY</h6></button>
        <button id="trade">
            <h5>TRADE</h5>
            <h2><grey>SKINS</grey></h2>
        </button>
    </div>

    <div class="info" id="bets">
        <img src="~/Images/dices-big.png" />
        <h1 id="total">300 <grey>BETS</grey></h1>
        <h1 id="wins"><green>150</green> <grey>WINS</grey></h1>
        <h1 id="ratio">50% <grey>WON GAMES</grey></h1>
    </div>

    <div class="info" id="inventory">
        <img src="~/Images/bullet-big.png" />
        <h1 id="steam-skins">83 <grey>SKINS <h4>IN STEAM INVENTORY</h4></grey></h1>
        <h1 id="value">94.07$ <h2><grey>ESTIMATED VALUE</grey></h2></h1>
        <button id="buySkins">
            <h5>BUY SKINS</h5>
            <h4><grey>FROM GOBOTTER</grey></h4>
        </button>
    </div>

    <div class="info" id="transactions">
        <img src="~/Images/transactions-big.png" />
        <h1 id="toGB">8 <grey>SKINS TRADED <h3>TO GOBOTTER</h3></grey></h1>
        <h1 id="fromGB">8 <grey>SKINS BOUGHT <h3>FROM GOBOTTER</h3></grey></h1>
        <button><h3><grey>VIEW ALL</grey></h3> <h5>TRANSACTIONS</h5></button>
    </div>
</body>
</html>

@section Scripts {
    <script>

    </script>
}