@model Gobot.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Account.css")

<div id="accountInfo">
    <div>
        <img id="img" src="@Model.ProfilPic" />
        <div id="border"></div>
    </div>
    <span id="name">@Html.DisplayFor(model => model.Username)</span>
</div>

<div class="info">
    <div class="info_logo" id="rank">
        <h2>RANK</h2>
        <img src="~/Images/rank.png" />
        <h2><grey>@Html.DisplayFor(model => model.Level)</grey></h2>
    </div>
    <div id="rep">
        <h2>REPUTATION</h2>
        <div id="rep-bar"></div>
        <h3><green>@Html.DisplayFor(model => model.EXP)</green>/1500 <grey>REP</grey></h3>
    </div>
</div>

<div class="info" id="credits">
    <div class="info_logo"></div>
    <div>
        <h1>@Html.DisplayFor(model => model.Credits)<b> GOBOT CREDITS</b></h1>
        @*<h4>1 Gobot credit = 0.01$</h4>*@
    </div>
    <div>
        <a href="#" id="trade">
            <h2>REGARDER UNE</h2>
            <h3 class="grey">ANNONCE</h3>
        </a>
    </div>
    <div>
        <a class="whiteLink" href="#" id="buy"><h2>ACHETER</h2></a>
    </div>
</div>

<div class="info" id="bets">
    <div class="info_logo"></div>
    <div>
        <h1 id="total">@Html.DisplayFor(model => model.Wins)<grey> VICTOIRES</grey></h1>
    </div>
    <div>
        <h1 id="wins">@Html.DisplayFor(model => model.Games)<grey> PARTIES</grey></h1>
    </div>
    <div>
        <h1 id="ratio">
            @if (Model.Games == 0)
            {
                @:0
            }
            else
            {
                @(Math.Round((double)Model.Wins / Model.Games * 100));
            }%<grey> PARTIES GAGNÉES</grey>
        </h1>

    </div>

</div>

<div class="info" id="creditStats">
    <div class="info_logo"></div>
    <div>
        <h1 id="wonLoss"><green>850</green>/<red>400</red> GAGNÉS/PERDUS</h1>
    </div>
    <div>
        <h1>0<grey> ACHETÉS</grey></h1>
    </div>
    <div>
        <a href="#" class="darkBG">
            <h2>ACHETER DES CRÉDITS</h2>
            <h3 class="grey">DE GOBOTTER</h3>
        </a>
    </div>
</div>

<div class="info" id="transactions">
    <div class="info_logo"></div>
    <div>
        <h1 id="fromGB">0<grey> OBJETS ACHETÉS</grey></h1>
        <h2 class="grey">DE GOBOTTER</h2>
    </div>
    <div>
        <h1>525<grey> CRÉDITS TOTAL</grey></h1>
    </div>
    <div>
        <a><h3 class="grey">MES</h3> <h2>TRANSACTIONS</h2></a>
    </div>
</div>

<div class="info" id="matches">
    <div class="info_logo"></div>
    <div>
        <h1>0<grey> PARTIES REGARDÉES</grey></h1>
    </div>
    <div>
        <h1>CLOUD6<grey> ÉQUIPE FAVORITE</grey></h1>
    </div>
    <div>
        <a><h3 class="grey">VOIR LES</h3><h2>ÉQUIPES</h2></a>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            onResize();

            $(".info > div > a").each(function () {
                $(this).parent().css("float", "right");
            });
            $(".info > div > :not(a)").each(function () {
                $(this).parent().css("padding", "0 15px");
            });
        });

        $(window).resize(function () {
            onResize();
        });

        function onResize() {
            h_align_window($(".info"));
            var elems = $(".info > div:not(:first-of-type)");
            $(".info > div:not(:first-of-type)").each(function () {
                if ($(this).children().children().length > 0 && $(this).children().height() == $(this).height())
                    v_align($(this).children().children(), $(this), getHeightOfChilds($(this).children()));
                else
                    v_align($(this).children(), $(this), getHeightOfChilds($(this)))
            });
        }

        
    </script>
}