@model Gobot.Models.User

@{
    ViewBag.Title = "Mon compte";
    ViewBag.Desc = "Information relative à vos activités sur Gobot ainsi que les paramètres de votre compte.";
    ViewBag.Keywords = "Information, paramètres, compte, activités, Gobot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Account.min.css")

@{
    if (Model.SessionUser)
    {
        if (TempData["error"] != null)
        {
            <div id="error_overlay">
                <div>
                    <div id="error_overlay_image"></div>
                    <h1>@TempData["error"]</h1>
                    <button id="close_errorOverlay">Fermer</button>
                </div>
            </div>
        }
        else if (TempData["success"] != null)
        {
            <div id="error_overlay">
                <div>
                    <div id="success_overlay_image"></div>
                    <h1>@TempData["success"]</h1>
                    <button id="close_errorOverlay">Fermer</button>
                </div>
            </div>
        }
    }
}

<div class="info_container">
    <div class="info" id="accountInfo">
        <div>
            <img id="img" src="@(Session["User_img"])" />
        </div>
        <div id="userInfo">
            <h5 id="name" title="@Html.DisplayFor(model => model.Username)">@Html.DisplayFor(model => model.Username)</h5>
            @{
                if (Model.SessionUser)
                {
                    if (Model.SteamID.Length > 0)
                    {
                        <a href="http://www.steamcommunity.com/id/@Model.SteamID" target="_blank"><h4 class="grey">Visiter le profil steam.</h4></a><h4 id="modSteamLink" class="grey">Modifier</h4>
                    }
                    else
                    {
                        <h4 id="addSteamLink" class="grey">Ajouter un lien vers mon compte Steam.</h4>
                    }
                }
                else if (Model.SteamID.Length > 0)
                {
                    <a href="http://www.steamcommunity.com/id/@Model.SteamID" target="_blank"><h4 class="grey">Visiter le profil steam.</h4></a>
                }
            }
        </div>
        @{
            if (Model.SessionUser)
            {
                <div id="userOptions">
                    <img id="openOption" src="~/Images/settings.png" />
                    <h3>Options</h3>
                    <img id="closeOption" src="~/Images/close.png" />
                </div>
            }
        }
    </div>

    <div class="info">
        <div class="info_logo" id="rank">
            <h2>RANK</h2>
            <img src="~/Images/ranks/1.png" />
            <h2 class="grey">@Html.DisplayFor(model => model.Level)</h2>
        </div>
        <div id="rep">
            <h2>REPUTATION</h2>
            <div id="rep-bar">
                <div></div>
                <div id="xp">
                    <div id="xpDone"></div>
                </div>
                <div></div>
            </div>
            <h3><green>@Html.DisplayFor(model => model.EXP)</green>/1500 <grey>REP</grey></h3>
        </div>
    </div>

    <div class="info" id="credits">
        <div class="info_logo"></div>
        <div>
            <h1>@Html.DisplayFor(model => model.Credits)<b> GOBOT CREDITS</b></h1>
            @*<h4 class="grey">1 Gobot credit = 0.01$</h4>*@
        </div>
        @{
            if (Model.SessionUser)
            {
                <div>
                    <a href="@Url.Action("Ad", "Bet")" id="trade">
                        <h2>REGARDER UNE</h2>
                        <h3 class="grey">ANNONCE</h3>
                    </a>
                </div>
                <div>
                    <a class="whiteLink" href="@Url.Action("Ad", "Bet")" id="buy"><h2>ACHETER</h2></a>
                </div>
            }
        }
    </div>

    <div class="info" id="bets">
        <div class="info_logo"></div>
        <div>
            <h1 id="total">@Html.DisplayFor(model => model.Wins)<grey> VICTOIRES</grey></h1>
        </div>
        <div>
            <h1 id="wins">@Html.DisplayFor(model => model.Games)<grey> PARTIES</grey></h1>
        </div>
        @if (Model.Games > 0)
        {
            <div>
                <h1 id="ratio">
                    @(Math.Round((double)Model.Wins / Model.Games * 100))
                    %<grey> PARTIES GAGNÉES</grey>
                </h1>
            </div>
        }

    </div>

    <div class="info" id="creditStats">
        <div class="info_logo"></div>
        <div>
            <h1 id="wonLoss"><green>850</green>/<red>400</red> GAGNÉS/PERDUS</h1>
        </div>
        @*<div>
                <h1>0<grey> ACHETÉS</grey></h1>
            </div>*@
        @if (Model.SessionUser)
        {
            <div>
                <a href="@Url.Action("Ad", "Bet")" class="darkBG">
                    <h2>ACHETER DES CRÉDITS</h2>
                    <h3 class="grey">DE GOBOTTER</h3>
                </a>
            </div>
        }
    </div>

    @*<div class="info" id="transactions">
            <div class="info_logo"></div>
            <div>
                <h1 id="fromGB">0<grey> OBJETS ACHETÉS</grey></h1>
                <h2 class="grey">DE GOBOTTER</h2>
            </div>
            <div>
                <h1>525<grey> CRÉDITS TOTAL</grey></h1>
            </div>
            <div>
                <a><h3 class="grey">MES</h3> <h2>TRANSACTIONS</h2></a>
            </div>
        </div>*@

    <div class="info" id="matches">
        <div class="info_logo"></div>
        <div>
            <h1>0<grey> PARTIES REGARDÉES</grey></h1>
        </div>
        <div>
            <h1>CLOUD6<grey> ÉQUIPE FAVORITE</grey></h1>
        </div>
        <div>
            <a href="@Url.Action("Teams", "Stats")"><h3 class="grey">VOIR LES</h3><h2>ÉQUIPES</h2></a>
        </div>
    </div>
    @if (Model.SessionUser)
    {
        <div class="info" id="removeAccount"><h4>Supprimer le compte</h4></div>
    }
</div>

@section Scripts {
    <script>
        var levels;

        $(function () {
            $(".info > div > a").each(function () {
                $(this).parent().css("float", "right");
            });
            $(".info > div > :not(a)").each(function () {
                $(this).parent().css("padding", "0 15px");
            });

            onResize();
            posRepBar(true);
            levels = @Model.Level;

        });

        $(window).on('load', function() {
            animateRanks(1);
        });

        $(window).resize(function () {
            onResize();
            posRepBar(false);
        });

        $(document).on("input", "#steamLink > input", function() {
            var input = $(this);

            if (input.val() == "") {
                input_error_show(input, "Le lien ne peut pas être vide.", true);
                $("#confirmPrompt").prop('disabled', true);
            }
            else if (!input.val().match(/^[0-9a-zA-Z]+$/)) {
                input_error_show(input, "Le lien ne peut contenir que des chiffres et des lettres.", true);
                $("#confirmPrompt").prop('disabled', true);
            }
            else {
                input_error_hide(input);
                $("#confirmPrompt").prop('disabled', false);
            }
        });

        $(document).on("click", "#modSteamLink", function() {
            var link = $("#userInfo > a").attr("href");
            link = link.substring(link.lastIndexOf("/") + 1);
            createSteamPopUp(link);
        });
        $(document).on("click", "#addSteamLink", function() {
            createSteamPopUp();
        });

        function createSteamPopUp(link) {
            var baseLink = "http://www.steamcommunity.com/id/";
            var text = '<h1>MODIFIER MON LIEN STEAM</h1><span>Le lien vers votre compte steam permet de partager votre profil steam avec les autres utilisateurs du site.</span><div id="steamLink"><span>'
                + baseLink + '</span><input name="newSteamLink" type="text" placeholder="' + (link == undefined ? 'monUrlSteam' : link) + '"></div>';

            popUp("", true, text, false, ["Envoyer", "Annuler"]);

            $(document).on("click", "#confirmPrompt", function() {
                if ($(this).text() == "Envoyer") {
                    submitSteamLink($("#steamLink > input").val());
                }
            });
        }

        function submitSteamLink(newLink) {
            if (newLink != null && newLink != "" && newLink.match(/^[0-9a-zA-Z]+$/)) {
                $.ajax({
                    type: "POST",
                    url: "/Account/UpdateSteamLink",
                    data: JSON.stringify({ newLink: newLink }),
                    success: function(){},
                    dataType: "json",
                    contentType : "application/json"
                });
                location.reload();
            }
        }

        $(document).on("click", "#options > div:not(#uploadForm)", function() {
            $("#options > div").not($(this)).each(function() {
                if ($(this).is(":visible"))
                    $(this).hide();
                else
                    $(this).show();
            });

            if ($("#optionForm").length == 0)
                showForm($(this).attr("id"));
            else {
                $("#optionForm").remove();
                $("#optionSubmit").remove();
            }
        });

        $(document).on("click", "#optionSubmit > .close", function() {
            $("#options > #uploadForm").remove();
            $("#options > div").show();
        });
        $(document).on("click", "#userOptions", function() {
            if ($("#options").length == 0) {
                $('<div class="info" id="options"></div>').insertAfter("#accountInfo");
                $("#options").append('<div id="changeEmail"><h2>Modifier mon adresse courriel</h2></div>');
                $("#options").append('<div id="changeImg"><h2>Modifier ma photo de profil</h2></div>');
                $("#options").append('<div id="changePwd"><h2>Modifier mon mot de passe</h2></div>');

                $("#userOptions > h3, #openOption").hide();
                $("#closeOption").show();

                onResize();
            }
            else {
                $("#options").remove();
                $("#userOptions > h3, #openOption").show();
                $("#closeOption").hide();
            }
        });

        $(document).on("focus", "form input", function () {
            $(this).prev().css("color", "#f16651");
        }).on("blur", "form input", function () {
            $(this).prev().css("color", "#eee");
        });

        $(document).on("click", "#UploadButton", function() {
            $("#ImageUploader").trigger("click");
        });
        $(document).on("change", "#ImageUploader", function(){
            readURL(this);
        });

        $(document).on("click", "#removeAccount", function() {
            popUp("Êtes-vous certains de vouloir supprimer votre compte? La suppression du compte est définitive. Toutes informations concernant votre compte seront supprimées, incluant vos crédits Gobot.", true, false, false);

            $(document).on("click", "#confirmPrompt", function() {
                deleteAccount();
                location.href="/Home/Index";
            });
        });

        function deleteAccount() {
            $.ajax({
                type: "POST",
                url: "/Account/Remove",
                data: JSON.stringify(""),
                success: function(){},
                dataType: "json",
                contentType : "application/json"
            });
        }

        function onResize() {
            h_align_window($(".info_container"));

            $(".info > div:not(:first-of-type)").not("#options > div").each(function () {
                if ($(this).children().children().length > 0 && $(this).children().height() == $(this).height())
                    v_align($(this).children().children(), $(this), getHeightOfChilds($(this).children()));
                else
                    v_align($(this).children(), $(this), getHeightOfChilds($(this)))
            });

            $(".info:not(#accountInfo) > div").has("a").each(function() {
                if ($(window).width() <= 960)
                    $(this).css("width", "100%");
                else
                    $(this).css("width", "auto");
            });
        }

        function animateRanks(i) {
            setTimeout(function() {
                $("#rank > img").attr('src', '/Images/ranks/' + i + '.png');
                $("#rank > h2:last-of-type").text(i);

                if (i < levels)
                    animateRanks(i+ 1);
            }, 750 / levels);
        }

        function posRepBar(animate) {
            var repWidth = $(".info").width() - $("#rank").outerWidth() - 60;
            var xpDoneWidth = (@Model.EXP / 1500) * 100 + '%';
            $("#rep").width(repWidth);

            if (animate)
                $("#xpDone").animate({ width: xpDoneWidth }, 750, "linear");
            else
                $("#xpDone").width(xpDoneWidth);
        }

        function showForm(id) {
            var submitFn;
            if (id == "changeImg") {
                $("#options").append('<form id="uploadForm" action="@(Url.Action("UpdateImage", "Account"))" method="post" enctype="multipart/form-data"><div id="optionForm"><div class="optionHeader"><img id="' + id + '_headerImg" src="/Images/option_' + id + '.png" /><h2>' + $('#' + id).find("h2").text() + '</h2></div></div></div>');
                $("#optionForm").append('<img id="UploadedImage" src="' + '@(Session["User_img"])' + '"><input id="ImageUploader" name="ImageUploader" type="file" accept="image/*">');
                $("#optionForm").append('<input id="UploadButton" type="button" value="Choisir une image...">');
                submitFn = "";
            }
            else if (id == "changePwd") {
                $("#options").append('<div id="uploadForm"><div id="optionForm"><div class="optionHeader"><img id="' + id + '_headerImg" src="/Images/option_' + id + '.png" /><h2>' + $('#' + id).find("h2").text() + '</h2></div></div></div>');
                $("#optionForm").append('<div><h2>Ancien <grey>mot de passe</grey></h2><input id="oldPwd" name="oldPwd" type="password"/></div>');
                $("#optionForm").append('<div><h2>Nouveau <grey>mot de passe</grey></h2><input id="newPwd" name="newPwd" type="password"/></div>');
                $("#optionForm").append('<div><h2>Confirmer <grey>mot de passe</grey></h2><input id="confirmPwd" name="confirmPwd" type="password"/></div>');
                submitFn = "submitPwd()";
            }
            else {
                $("#options").append('<div id="uploadForm"><div id="optionForm"><div class="optionHeader"><img id="' + id + '_headerImg" src="/Images/option_' + id + '.png" /><h2>' + $('#' + id).find("h2").text() + '</h2></div></div></div>');
                $("#optionForm").append('<div><h2>Nouvelle<grey> adresse courriel</grey></h2><input id="newEmail" name="newEmail" type="text"/></div>');
                $("#optionForm").append('<div><h2>Confirmer<grey> adresse courriel</grey></h2><input id="confirmEmail" name="confirmEmail" type="text"/></div>');
                submitFn = "submitEmail()";
            }

            $("#options > #uploadForm").append('<div id="optionSubmit"><button type="submit" onClick="' + submitFn + '">Confirmer</button><div class="close"><img src="/Images/close_red.png" /><h3>Annuler</h3></div><img class="triangle" src="/Images/accountOption_triangle.png" /></div>');
            $('#' + id).hide();

            v_align_margin($("#optionSubmit > button"), $("#optionSubmit"), $("#optionSubmit > button").height());
            h_align($("#optionSubmit > button"), $("#optionSubmit"), $("#optionSubmit > button").outerWidth());
            h_align($("#optionSubmit > div"), $("#optionSubmit"), $("#optionSubmit > div > h3").width() + $("#optionSubmit > div > img").width());
            h_align($(".optionHeader"), $("#optionForm"), $(".optionHeader").width());
        }

        function submitImg() {
            loading_create();
            
            $.ajax({
                type: "POST",
                url: "/Account/UpdateImage",
                data: JSON.stringify(new { file: document.getElementById('ImageUploader').files[0] }),
                success: function(){
                    loading_remove(true, window.location.href);
                },
                error: function() {
                    loading_remove(false, window.location.href);
                },
                dataType: "json",
                contentType : "application/json"
            });

            //var file = document.getElementById('ImageUploader').files[0];
            //var fd = new FormData();
            //fd.append("file", file);
            //var xhr = new XMLHttpRequest();
            //xhr.open("POST", "/Account/UpdateImage", false);
            //xhr.send(fd);
        }

        function submitEmail() {
            var data = {
                newEmail: $("#newEmail").val(),
                confirmEmail: $("#confirmEmail").val()
            };
            submitForm(data, "UpdateEmail");
        }

        function submitPwd() {
            var data = {
                oldPassword: $("#oldPwd").val(),
                newPassword: $("#newPwd").val(),
                confirmPassword: $("#confirmPwd").val()
            };
            submitForm(data, "UpdatePassword");
        }

        function submitForm(data, link) {
            $.ajax({
                type: "POST",
                url: "/Account/" + link,
                data: JSON.stringify(data),
                success: function(){},
                dataType: "json",
                contentType : "application/json"
            });
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#UploadedImage').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}