@model Gobot.Models.RegisterViewModel

@{
    ViewBag.Title = "S'enregistrer";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Gobotter</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,900italic,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Register.min.css")
</head>
<body>
    @{
        if (ViewBag.Error != null && ViewBag.Error != "")
        {
            <div id="error">
                <img src="~/Images/error_big.png" />
                <h1>@ViewBag.Error</h1>
                <div>Fermer</div>
            </div>
        }
    }
    <div id="back">
        <a href="@Url.Action("Index", "Home")"><img src="~/Images/arrow_left.png" />RETOUR</a>
    </div>
    @using (Html.BeginForm())
    {
        <img src="~/Images/gobot_logo.png" />
        @Html.LabelFor(model => model.Username)
        @Html.EditorFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username)

        @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)

        @Html.LabelFor(model => model.Password)
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)

        @Html.LabelFor(model => model.ConfirmPassword)
        @Html.EditorFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
        
        <div class="flip-container">
            <div class="flipper">
                <div class="front go">
                    <img src="~/Images/arrow_right.png" />
                </div>
                <div class="back go">
                    <img src="~/Images/check.png" />
                    <input type="submit" value="">
                </div>
            </div>
        </div>
    }

    <script>
        $(function () {
            onResize();
        });

        $(window).resize(function () { onResize(); });

        function onResize() {
            if ($(window).width() <= 500 && $("#back").css("position") == "fixed") {
                $("#back").css({ position: "relative", margin: "0 0 15px 0" });
                $("#back > a").css({ width: "100%", padding: "15px 0" });
                $("#back > a > img").css({ marginLeft: "20px" });
            }
            else if ($(window).width() > 500 && $("#back").css("position") == "relative") {
                $("#back").css({ position: "fixed", margin: "15px" });
                $("#back > a").css({ width: "auto", padding: "15px 20px" });
                $("#back > a > img").css({ marginLeft: "0" });
            }

            var goPos = $("form").width() / 2 - $(".flip-container").width() / 2;
            $(".flip-container").css("margin-left", goPos);
        }

        function removePx(s) {
            return s.substring(0, s.indexOf('px'));
        }

        $(".go").hover(function () {
            if (validUser() && validEmail() && validPwd() && samePwd()) {
                $(".back > input").attr("disabled", "false");
                $(".back > img").attr('src', '/Images/check.png');
                $(".back").css({ backgroundColor: "#51c24b" });
                $(".back > input").css({ cursor: "pointer" });
            }
            else {
                $(".back > img").attr('src', '/Images/close.png');
                $(".back").css({ backgroundColor: "#963434" });
                $(".back > input").css({ cursor: "not-allowed" });
                $(".back > input").attr("disabled", "true");
            }
        });

        function validUser() {
            if ($("#Username").val() != "") {
                return true;
            }

            return false;
        }
        function validEmail() {
            var text = $("#Email").val().toUpperCase();
            var re = /\b[A-Z0-9._%+-]+@@[A-Z0-9.-]+\.[A-Z]{2,}\b/;
            var result = re.test(text);
            return result;
        }
        function validPwd() {
            if ($("#Password").val() != "") {
                return true;
            }

            return false;
        }
        function samePwd() {
            return $("#Password").val().length >= 6 && $("#Password").val() == $("#ConfirmPassword").val();
        }
    </script>
</body>
</html>