@model Gobot.Models.RegisterViewModel

@{
    ViewBag.Title = "S'enregistrer";
    ViewBag.Desc = "S'enregistrer sur Gobot pour profiter de tout les services offerts par Gobot.";
    ViewBag.Keywords = "S'enregistrer, Gobot, CS:GO";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.Desc" />
    <meta name="keywords" content="@ViewBag.Keywords">
    <link rel="icon" href="~/Images/gobot_logo.png" type="image/png" sizes="16x16 32x32 64x64">
    <title>@ViewBag.Title - Gobot</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,900italic,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Register.min.css")
</head>
<body>
    <noscript id="js_error">
        <div>
            <div id="error_overlay_image"></div>
            <h1>Gobot nécéssite Javascript pour fonctionner corretement. Veuillez l'activer pour pouvoir profiter du contenu de Gobot.com.</h1>
            <a href="http://enable-javascript.com/fr/" target="_blank">Comment activer mon Javascript?</a>
        </div>
    </noscript>

    @{
        if (TempData["error"] != null)
        {
            <div id="error_overlay">
                <div>
                    <div id="error_overlay_image"></div>
                    <h1>@TempData["error"]</h1>
                    <button id="close_errorOverlay">Fermer</button>
                </div>
            </div>
        }
    }
    <div id="back">
        <a href="@Url.Action("Index", "Home")"><img src="~/Images/arrow_left.png" />RETOUR</a>
    </div>
    @using (Html.BeginForm())
    {
        <img src="~/Images/gobot_logo.png" />
        @Html.LabelFor(model => model.Username)
        @Html.EditorFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username)

        @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)

        @Html.LabelFor(model => model.Password)
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)

        @Html.LabelFor(model => model.ConfirmPassword)
        @Html.EditorFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
        
        <div class="flip-container">
            <div class="flipper">
                <div class="front go">
                    <img src="~/Images/arrow_right.png" />
                </div>
                <div class="back go">
                    <img src="~/Images/check.png" />
                    <input type="submit" value="">
                </div>
            </div>
        </div>
        <input type="hidden" name="clientTime" value=""/>
    }

    <script>
        $(function () { onResize(); });
        $(window).resize(function () { onResize(); });

        function onResize() {
            if ($(window).width() <= 500 && $("#back").css("position") == "fixed") {
                $("#back").css({ position: "relative", margin: "0 0 15px 0" });
                $("#back > a").css({ width: "100%", padding: "15px 0" });
                $("#back > a > img").css({ marginLeft: "20px" });
            }
            else if ($(window).width() > 500 && $("#back").css("position") == "relative") {
                $("#back").css({ position: "fixed", margin: "15px" });
                $("#back > a").css({ width: "auto", padding: "15px 20px" });
                $("#back > a > img").css({ marginLeft: "0" });
            }

            var goPos = $("form").width() / 2 - $(".flip-container").width() / 2;
            $(".flip-container").css("margin-left", goPos);
        }

        function removePx(s) {
            return s.substring(0, s.indexOf('px'));
        }

        $(".go").hover(function () {
            if (validUser() && validEmail() && validPwd() && samePwd()) {
                $(".back > img").attr('src', '/Images/check.png');
                $(".back").css({ backgroundColor: "#51c24b" });
                $(".back > input").css({ cursor: "pointer" });
                $('.back > input').prop("disabled", false);
            }
            else {
                $(".back > img").attr('src', '/Images/close.png');
                $(".back").css({ backgroundColor: "#963434" });
                $(".back > input").css({ cursor: "not-allowed" });
                $(".back > input").attr("disabled", "true");
            }
        });

        function validUser() {
            if ($("#Username").val() != "") {
                return true;
            }

            return false;
        }
        function validEmail() {
            var text = $("#Email").val().toUpperCase();
            var re = /^[A-Z0-9._%+-]+@@[A-Z0-9.-]+\.[A-Z]{2,}$/;
            var result = re.test(text);
            return result;
        }
        function validPwd() {
            if ($("#Password").val() != "") {
                return true;
            }

            return false;
        }
        function samePwd() {
            return $("#Password").val().length >= 6 && $("#Password").val() == $("#ConfirmPassword").val();
        }

        $(document).on("focus", "form > input", function () {
            $(this).css("border-color", "#eee");
            $(this).prev().css("color", "#f16651");
        }).on("blur", "form > input", function () {
            $(this).css("border-color", "#323232");
            $(this).prev().css("color", "#626262");
        });

        $(document).on('click', 'input[type="submit"]', function () {
            $("input[name=clientTime]").val(Date.now());
        });
    </script>

    @Scripts.Render("~/Scripts/global.js")
</body>
</html>