@model Gobot.Models.Match

@{
    ViewBag.Title = "Regarder";
    ViewBag.Desc = "Regarder la partie Counter-strike:Global Offensive en cours.";
    ViewBag.Keywords = "Regarder, Stream, Twitch, CS:GO, Counter-strike:Global Offensive, bots, Gobot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Home.min.css")
@Styles.Render("~/Content/Watch.min.css")

<style type="text/css">
</style>

<div id="main" class="h">
    <div id="video">
        <iframe src="https://player.twitch.tv/?channel=gobotts" frameborder="0" scrolling="no" height="378" width="620"></iframe>
    </div>
    @{
        if (Model != null)
        {
            <div class="side ct">
                <img src="~/Images/ct_side.png" />
                <h1>@Model.Teams[0].Name</h1>
                <h2>
                    <green>@Model.Teams[0].Wins</green><img src="~/Images/games_won.png" />
                    <white>@Model.Teams[0].Games</white> <img src="~/Images/games_played.png" />
                </h2>

                <div class="team">
                    <div class="names">
                        <span>@Model.Teams[0].TeamComp[0].Name</span>
                        <span>@Model.Teams[0].TeamComp[1].Name</span>
                        <span>@Model.Teams[0].TeamComp[2].Name</span>
                        <span>@Model.Teams[0].TeamComp[3].Name</span>
                        <span>@Model.Teams[0].TeamComp[4].Name</span>
                    </div>
                    <div class="roles">
                        <span>@Model.Teams[0].TeamComp[0].Gun</span>
                        <span>@Model.Teams[0].TeamComp[1].Gun</span>
                        <span>@Model.Teams[0].TeamComp[2].Gun</span>
                        <span>@Model.Teams[0].TeamComp[3].Gun</span>
                        <span>@Model.Teams[0].TeamComp[4].Gun</span>
                    </div>
                </div>
            </div>
            <div class="side t">
                <img src="~/Images/t_side.png" />
                <h1>@Model.Teams[1].Name</h1>
                <h2>
                    <green>@Model.Teams[1].Wins</green><img src="~/Images/games_won.png" />
                    <white>@Model.Teams[1].Games</white> <img src="~/Images/games_played.png" />
                </h2>

                <div class="team">
                    <div class="names">
                        <span>@Model.Teams[1].TeamComp[0].Name</span>
                        <span>@Model.Teams[1].TeamComp[1].Name</span>
                        <span>@Model.Teams[1].TeamComp[2].Name</span>
                        <span>@Model.Teams[1].TeamComp[3].Name</span>
                        <span>@Model.Teams[1].TeamComp[4].Name</span>
                    </div>
                    <div class="roles">
                        <span>@Model.Teams[1].TeamComp[0].Gun</span>
                        <span>@Model.Teams[1].TeamComp[1].Gun</span>
                        <span>@Model.Teams[1].TeamComp[2].Gun</span>
                        <span>@Model.Teams[1].TeamComp[3].Gun</span>
                        <span>@Model.Teams[1].TeamComp[4].Gun</span>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    <script>
        $(window).ready(function () {
            // TODO: Create method that adds (1 video watched and 25xp) to user. (Check if match is finished, if not, check if row in 'expliaison' with session username and 
            //       match_id exists, if yes, do nothing, if not, add xp/video and row in db.
            setVideoPos();
        });

        $(window).resize(function () {
            setVideoPos();
        });

        function setVideoPos() {
            var windowWidth = $(window).width() - ($("#navBig").width().length == 0 ? 0 : $("#navBig").width());
            var windowHeight = $(window).height();
            var videoHeight = windowWidth * (9 / 16);
            $("#main").css({ width: windowWidth });
            $("#video").css("height", videoHeight > windowHeight ? windowHeight : videoHeight);
            $(".side > img").css("left", $(".side").width() / 2 - $(".side > img").width() / 2);
        }
    </script>
}