@model List<Gobot.Models.Match>

@{
    ViewBag.Title = "Horaire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Bet.min.css")

<div class="info smaller" id="getCredits">
    <a href="@Url.Action("History", "Stats")"><h2>Parties passées</h2></a>
    <div class="separator"><div></div></div>
    <a href="@Url.Action("Schedule", "Stats")" class="active"><h2>Parties futures</h2></a>
</div>

<div class="info_container">
    @{
        if (Model.Count() > 0)
        {
            <div class="info" id="header">
                <h6>Parties à venir</h6>
            </div>
        }
        else
        {
            <div class="info" id="header">
                <h6>Aucune partie à venir.</h6>
            </div>
        }
    }

    @{
        if (Model.Count() > 0)
        {
            for (int i = 0; i < Model.Count; i++)
            {
                <div class="info">
                    <div class="time sqr"><h3>@Model[i].Date.Hour:@Model[i].Date.Minute</h3></div>

                    <div class="team team1">
                        <div class="img" style="background-image: url(/Images/@(Model[i].Teams[0].ImagePath));"></div>
                        <div class="text">
                            @{
                                if (Model[i].CurrentUserBet && Model[i].TeamNumberBet == 1)
                                {
                                    <h1><green>@(Model[i].Teams[0].Name.ToUpper())</green></h1>
                                    <h4 class="grey">Mise Totale<green> @(Model[i].Team1TotalBet)</green>GC</h4>
                                    <h4 class="grey">Votre mise<green> @(Model[i].CurrentUserAmount)</green>GC</h4>
                                }
                                else
                                {
                                    <h1>@(Model[i].Teams[0].Name.ToUpper())</h1>
                                    <h4 class="grey">Mise Totale<offw> @(Model[i].Team1TotalBet)</offw>GC</h4>
                                }
                            }
                        </div>
                    </div>
                    <div class="vs"><h1>VS</h1></div>
                    <div class="team team2">
                        <div class="img" style="background-image: url(/Images/@(Model[i].Teams[1].ImagePath));"></div>
                        <div class="text">
                            @{
                                if (Model[i].CurrentUserBet && Model[i].TeamNumberBet == 2)
                                {
                                    <h1><green>@(Model[i].Teams[1].Name.ToUpper())</green></h1>
                                    <h4 class="grey">Mise Totale<green> @(Model[i].Team2TotalBet)</green>GC</h4>
                                    <h4 class="grey">Votre mise<green> @(Model[i].CurrentUserAmount)</green>GC</h4>
                                }
                                else
                                {
                                    <h1>@(Model[i].Teams[1].Name.ToUpper())</h1>
                                    <h4 class="grey">Mise Totale<offw> @(Model[i].Team2TotalBet)</offw>GC</h4>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>

@section Scripts {
    <script>
        $(function () {
            onResize();
        });

        $(window).resize(function () {
            onResize();
        });

        function onResize() {
            h_align_window($(".info_container"));
            h_align_window($("#getCredits"));

            $(".info > div").each(function () {
                if ($(this).children().children().length > 0 && $(this).children().height() == $(this).height())
                    v_align($(this).children().children(), $(this), getHeightOfChilds($(this).children()));
                else
                    v_align($(this).children(), $(this), getHeightOfChilds($(this)))
            });
        }
    </script>
}

