@model List<Gobot.Models.Match>

@{
    ViewBag.Title = "Horaire";
    ViewBag.Desc = "Horaire des parties futures CS:GO à venir.";
    ViewBag.Keywords = "Horaire, futur, à venir, liste parties, CS:GO, Counter-strike: Global offensive, Gobot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Bet.min.css")

<div id="toBottom"></div>

@{
    if (TempData["error"] != null)
    {
        <div id="error_overlay">
            <div>
                <div id="error_overlay_image"></div>
                <h1>@TempData["error"]</h1>
                <button id="close_errorOverlay">Fermer</button>
            </div>
        </div>
    }
    else if (TempData["success"] != null)
    {
        <div id="error_overlay">
            <div>
                <div id="success_overlay_image"></div>
                <h1>@TempData["success"]</h1>
                <button id="close_errorOverlay">Fermer</button>
            </div>
        </div>
    }
}

<div class="info smaller" id="getCredits">
    <a href="@Url.Action("History", "Stats")"><h2>Parties passées</h2></a>
    <div class="separator"><div></div></div>
    <a href="@Url.Action("Schedule", "Stats")" class="active"><h2>Parties futures</h2></a>
</div>

<div class="info_container">
    @{
        if (Model.Count() > 0)
        {
            <div class="info" id="header">
                <h6>Parties à venir</h6>
            </div>
        }
        else
        {
            <div class="info" id="header">
                <h6>Aucune partie à venir.</h6>
            </div>
        }
    }

    @{
        if (Model.Count() > 0)
        {
            int year = Model[0].Date.Year;
            int firstDay = Model[0].Date.DayOfYear, secondDay = Model[0].Date.AddDays(1).DayOfYear;
            for (int i = 0; i < Model.Count && (Model[i].Date.DayOfYear == firstDay || Model[i].Date.DayOfYear == secondDay); i++)
            {
                if (i != 0 && Model[i].Date.DayOfYear != Model[i - 1].Date.DayOfYear)
                {
                    <div class="info day"><h2>@(Model[i].Date.ToString("dddd")) <grey>@Model[i].Date.ToString("dd/MM/yyyy")</grey></h2></div>
                }

                <div class="info">
                    <div class="time sqr">
                        @{
                            if (Model[i].CurrentUserBet)
                            {
                                <h3 class="menuColor">@Model[i].Date.Hour:@Model[i].Date.Minute.ToString("00")</h3>
                            }
                            else
                            {
                                <h3>@Model[i].Date.Hour:@Model[i].Date.Minute.ToString("00")</h3>
                            }
                        }
                    </div>

                    <div class="team team1">
                        <div class="img" style="background-image: url(/Images/@(Model[i].Teams[0].ImagePath));"></div>
                        <div class="text">
                            @{
                                if (Model[i].CurrentUserBet && Model[i].TeamNumberBet == 1)
                                {
                                    <h1><green>@(Model[i].Teams[0].Name.ToUpper())</green></h1>
                                    <h4 class="grey">Mise Totale<green> @(Model[i].Team1TotalBet)</green>GC</h4>
                                    <h4 class="grey">Votre mise<green> @(Model[i].CurrentUserAmount)</green>GC</h4>
                                }
                                else
                                {
                                    <h1>@(Model[i].Teams[0].Name.ToUpper())</h1>
                                    <h4 class="grey">Mise Totale<offw> @(Model[i].Team1TotalBet)</offw>GC</h4>
                                }
                            }
                        </div>
                        <input type="hidden" name="teamId" value="@(Model[i].Teams[0].Id)" />
                    </div>
                    <div class="vs"><h1>VS</h1></div>
                    <div class="team team2">
                        <div class="img" style="background-image: url(/Images/@(Model[i].Teams[1].ImagePath));"></div>
                        <div class="text">
                            @{
                                if (Model[i].CurrentUserBet && Model[i].TeamNumberBet == 2)
                                {
                                    <h1><green>@(Model[i].Teams[1].Name.ToUpper())</green></h1>
                                    <h4 class="grey">Mise Totale<green> @(Model[i].Team2TotalBet)</green>GC</h4>
                                    <h4 class="grey">Votre mise<green> @(Model[i].CurrentUserAmount)</green>GC</h4>
                                }
                                else
                                {
                                    <h1>@(Model[i].Teams[1].Name.ToUpper())</h1>
                                    <h4 class="grey">Mise Totale<offw> @(Model[i].Team2TotalBet)</offw>GC</h4>
                                }
                            }
                        </div>
                        <input type="hidden" name="teamId" value="@(Model[i].Teams[1].Id)" />
                    </div>
                    <input name="matchId" type="hidden" value="@(Model[i].Id)" />
                </div>
            }

            if (Model[Model.Count() - 1].Date.DayOfYear > secondDay || Model[Model.Count() - 1].Date.Year > year)
            {
                <div class="info" id="showNextDay"><h2>Afficher le jour suivant</h2><div></div></div>
            }
        }
    }
</div>

@section Scripts {
    <script>
        $(function () {
            onResize();
        });

        $(window).resize(function () {
            onResize();
        });

        function onResize() {
            h_align_window($("#getCredits"));
        }
    </script>
}
@Scripts.Render("~/Scripts/bets.js")
